.color{
    color: blue;
    font-style:italic ;
    font-weight: bold;

    
}
.colors{
    color: green;
    font-weight:bold;

}
.colours{
    color: orangered;
    font-weight: bold;
}
h3{
    color:black;
}

img{
    width: 390px;
    border-radius: 30px;
}

